<p>Cards left : {{cardsLeft().length}}</p>
<div class="choix">
  <img *ngFor="let card of cardsLeft();let i=index" class="carte" src="./assets/dos.png" (click)="clickCard(card)"/>
</div>
<div *ngIf="cardPicked" class="cartePicked">
  <div style="display:flex;justify-content: center;">
    <p style="font-weight:35Spx;background-color:#101010;border:5px ridge #303030;padding: 20px 70px;border-radius: 50px;margin:0;">{{cardPicked.nom}}</p>
  </div>
  <p style="position:relative;top:-5px;opacity:0.6;margin:5px;">{{getValue()}} de {{cardPicked.color}}</p>
  <div style="display:flex;justify-content: center;">
    <img style="left:-25px;" class="carte" src="./assets/{{cardPicked.color}}/{{cardPicked.value}}.png"/>
  </div>
  <div style="display:flex;justify-content: center;">
    <p style="width:50%;background-color:#101010;border:5px ridge #303030;padding: 20px;border-radius: 50px;">{{cardPicked.action}}</p>
  </div>
</div>