body
{
    background-color:#202020;
}
*
{
    color: #aaa;
}
.carte
{
    width:130px;
    height:200px;
    position:relative;
    margin-right:-50px;
}
.choix
{
    height:220px;
    width:100%;
    overflow-x:scroll;
    display:flex;
}
p{
    text-align: center;
    font-size:25px
}